<!DOCTYPE html>
<html ng-app="mainModule">
<head>
  <title>Travellog</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css?v=2">
	<link rel="stylesheet" type="text/css" href="/static/css/loading.css">
  <link href='http://fonts.googleapis.com/css?family=Alegreya|Roboto:400,300,500' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEaBU9ut05NvkD4_k72xRDGuVYr_ucPZc&sensor=false">
	</script>
  <script type="text/javascript" src='/static/js/markermanager.js'></script>
  <meta name="description" content="Travellog is a place to discover and share experiences of travel">
  <meta name="keywords" content="Travel, gcdc, nyuad, experience, discover, stories">
  <meta property="og:image" content="http://www.travellog.io/static/img/travellog-logo.png"/>
  <meta property="og:title" content="Travellog"/>
  <meta property="og:url" content="http://www.travellog.io"/>
  <meta property="og:site_name" content="Travellog"/>
</head>
<body ng-controller="mainCtrl">
	<div data-counter="0" class="background background-0 slow-fade active"></div>
	<div data-counter="1" class="background background-1 slow-fade passive"></div>

	<ul id="loading" class="bokeh fade">
		<li id="child-1"></li>
		<li id="child-2"></li>
		<li id="child-3"></li>
		<li id="child-4"></li>
		<span>Loading</span>
	</ul>

	<div id="launch-screen" class="fade">
		<div id="logo" ng-click="begin()">
			<hr class="top-bar">
			<h1>Travellog</h1>
			<hr>
		</div>
		<p> Stories that travel </p>
		<h3 id="start-here" class="fade" ng-click="begin()"> Begin </h3>
	</div>

	<div id="container" class="hide">
		<div id="minimap">
			<div id="map-canvas"></div>
		</div>
		<div id="overlay">
			<div id="blackblur" ></div>
			<h2 id="escape" ng-click="deactiveOverlay()" class="fade">&#10006;</h2>
			<div id="overlay-content" ng-controller="MyFilesController">
			<!-- 	<div ng-hide="loggedIn">

		</div> -->
			<div id="add-map-canvas" ng-class="{show: display == 'loggedIn'}"></div>
			<div class="message" ng-show="display == 'loading'" class="push-down">
        <div id="loading-message" ng-bind-html="loadingMessage"></div>
			</div>
			<div id="complete" class="message" ng-show="display == 'complete'" class="push-down">
				{{successMessage}}<br/><br/>
				<a class="link" href={{completeUrl}}>{{completeUrl}}</a><br/><br/>
				<button ng-click="submitAgain()" class="fade">Submit Another</button>
			</div>
			<div ng-show="display =='login'" class="push-down">
				<br/>
				<br/>
				<h4> Share Your Story</h4>
					Share your experiences with the world! We use Google Drive to store our logs, so we just need you to log into your Google account so that we can share your story!
				<button id="authorize-button" ng-click="startLogin()" class="fade">Start</button>

			</div>
			<div id="search" ng-show="display == 'loggedIn'" class="message">
				<span class="white small">1. Search for your story as a Google Document</span><br/>
				<span class="white small">2. Place your story on the map</span>
				<span id="file-loading-message" class="white">{{numFilesMessage}}</span>
				<button ng-click="upload()" ng-class="{active: canSubmit()}">Submit</button>
				<input ng-model="query" placeholder="search">
				<ul decorations:"none">
					<li ng-class="{active: isSelected(file)}" ng-repeat="file in myfiles | filter:query | limitTo:5" ng-click="selectFile(file)">
						{{file.title}}
					</li>
				</ul>
			</div>
			<div class="message" ng-show="display =='help'">
				Travellog</br><br/>
				This is a space for us to share stories and remember why we travel.<br/>
				In this space, we can share where we've hit the road, the sights we've seen, <br/>
				where we've strayed off-road, and the lessons we've learned. <br/>
				This is a space welcome to all people and any submissions, no matter the length or style.
			</div>

		</div>
	</div>
	<div id="blackshade" ></div>

	<log></log>
	<otherlog></otherlog>
	<div class="sidenav sidenav-left" ng-click="move('W')">
		<div class="arrow arrow-left-right arrow-left"></div>
	</div>
	<div class="sidenav sidenav-right" ng-click="move('E')">
		<div class="arrow arrow-left-right arrow-right"></div>
	</div>
	<div class="sidenav sidenav-top" ng-click="move('N')">
		<div class="arrow arrow-up-down arrow-up"></div>
	</div>
	<div class="sidenav sidenav-bottom" ng-click="move('S')">
		<div class="arrow arrow-up-down arrow-down"></div>
	</div>
	<div id="nav">
		<img id="add" ng-click="changeShowing('addFile')" src="/static/img/addIcon.png"/>
		<img id="question" ng-click="changeShowing('help')" src="/static/img/questionIcon.png"/>
	</div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript"
src="/static/js/jquery.transit.min.js">
</script>
<script type="text/javascript" src='/static/js/modernizr.custom.89592.js'></script>
<script type="text/javascript" src='/static/lib/angular/angular.js'></script>
<script type="text/javascript" src='/static/lib/angular/angular-sanitize.js'></script>
<script type="text/javascript" src='/static/js/app.js?v=2'></script>
<script type="text/javascript" src='/static/js/helpers.js?v=2'></script>
<script type="text/javascript" src='/static/js/services.js?v=2'></script>
<script type="text/javascript" src='/static/js/directives.js?v=2'></script>
<script type="text/javascript" src='/static/js/controllers.js?v=2'></script>
<script type="text/javascript" src="/static/js/index.js?v=2"></script>
<script type="text/javascript" src="/static/js/gservices.js?v=2"></script>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
</body>
</html>
