<!DOCTYPE html>
<html ng-app="mainModule">
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/loading.css">
	<link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEaBU9ut05NvkD4_k72xRDGuVYr_ucPZc&sensor=false">
	</script>
</head>
<body ng-controller="mainCtrl">
	<div data-counter="0" class="background background-0 slow-fade active"></div>
	<div data-counter="1" class="background background-1 slow-fade passive"></div>

	<ul id="loading" class="bokeh fade">
		<li id="child-1"></li>
		<li id="child-2"></li>
		<li id="child-3"></li>
		<li id="child-4"></li>
		<span>Loading...</span>
	</ul>

	<div id="launch-screen">
		<div id="whiteshade"></div>
		<div id="logo">
			<hr class="top-bar">
			<h1>Travellog</h1>
			<hr>
		</div>
		<p> Document and share your adventures. </p>
		<h3 id="start-here"> Start Here </h3>
	</div>

	<div id="container" class="hide">
		<div id="minimap">
			<div id="map-canvas"></div>
		</div>
		<div id="overlay">
			<div id="blackblur" ></div>
			<h2 id="escape">X</h2>
			<div id="overlay-content" ng-controller="MyFilesController">
			<!-- 	<div ng-hide="loggedIn">

		</div> -->
			<div id="add-map-canvas" ng-class="{show: getShowing() == 'loggedIn'}"></div>
			

			<div class="message" ng-show="getShowing() == 'loading'">
				{{loadingMessage}}
			</div>
			<div class="message" ng-show="getShowing() == 'complete'">
				Congratulations, your travel log has been uploaded and is available at:
				{{completeUrl}}
			</div>
			<div ng-show="getShowing() =='login'"> 
				login
				<button id="authorize-button" ng-click="startLogin()">Authorize</button>

			</div>
			<div id="search" ng-show="getShowing() =='loggedIn'">
				<p>Logged:{{loggedIn}}</p>
				<button ng-click="upload()" ng-class="{active: canSubmit()}">Submit</button>	
				<input ng-model="query" placeholder="search">
				<ul decorations:"none">
					<li ng-class="{active: isSelected(file)}" ng-repeat="file in myfiles | filter:query | limitTo:5" ng-click="selectFile(file)">
						File: {{file.title}}
					</li>
				</ul>
			</div>
			<div class="message" ng-show="getShowing() =='help'">
				This is the about text

			</div>
			
		</div>
	</div>
	<div id="blackshade" ></div>

	<log></log>
	<otherlog></otherlog>
	<div class="sidenav sidenav-left" ng-click="move('W')">
		<div class="arrow arrow-left-right arrow-left"></div>
	</div>
	<div class="sidenav sidenav-right" ng-click="move('E')">
		<div class="arrow arrow-left-right arrow-right"></div>
	</div>
	<div class="sidenav sidenav-top" ng-click="move('N')">
		<div class="arrow arrow-up-down arrow-up"></div>
	</div>
	<div class="sidenav sidenav-bottom" ng-click="move('S')">
		<div class="arrow arrow-up-down arrow-down"></div>
	</div>
	<div id="nav" ng-controller="MyFilesController">
		<img id="add" ng-click="changeShowing('addFile')" src="/static/img/addIcon.png"/>
		<img id="question" ng-click="changeShowing('help')" src="/static/img/questionIcon.png"/>
	</div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript"
src="/static/js/jquery.transit.min.js">
</script>
<script type="text/javascript" src='/static/lib/angular/angular.js'></script>
<script type="text/javascript" src='/static/lib/angular/angular-sanitize.js'></script>
<script type="text/javascript" src='/static/js/app.js'></script>
<script type="text/javascript" src='/static/js/helpers.js'></script>
<script type="text/javascript" src='/static/js/services.js'></script>
<script type="text/javascript" src='/static/js/directives.js'></script>
<script type="text/javascript" src='/static/js/controllers.js'></script>
<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/gservices.js"></script>
<script type="text/javascript" src="/static/js/gmaps.js"></script>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
</body>
</html>
