[ngcloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
*,
*:after,
*::before {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  height: 15px;
  background-color: #999;
  border-radius: 15px;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}
.move-up {
  top: 100px;
}
.fade {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
.fadeout {
  opacity: 0;
}
.fadein {
  opacity: 1;
}
#launch-screen {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: url("/static/img/stump.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
}
#launch-screen #whiteshade {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.4;
}
#launch-screen hr {
  height: 15px;
  width: 170px;
  background: #000;
  border: transparent;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -85px;
}
#launch-screen hr.top-bar {
  margin-top: -150px;
}
#launch-screen h1 {
  font-size: 4em;
  position: absolute;
  top: 50%;
  margin-top: -108px;
  left: 50%;
  margin-left: -134px;
  font-weight: 500;
}
#launch-screen p {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -270px;
  font-weight: 300;
  text-align: center;
}
#launch-screen h3 {
  position: absolute;
  font-size: 2em;
  top: 50%;
  margin-top: 120px;
  left: 50%;
  margin-left: -90px;
  font-weight: 500;
  text-transform: uppercase;
}
#container {
  font-family: "Roboto", sans-serif;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url("/static/img/stump.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
#container.hide {
  opacity: 0;
  pointer-events: none;
}
#container #loading {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}
#container #loading span {
  position: absolute;
  color: #fff;
  font-size: 2em;
  top: 50%;
  margin-top: 57px;
  left: 50%;
  margin-left: -57px;
}
#container #loading img {
  top: 50%;
  position: absolute;
  margin-left: -16px;
  left: 50%;
}
#container #overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  z-index: 1;
}
#container #overlay.fadein {
  opacity: 1;
  pointer-events: auto;
}
#container #overlay #blackblur {
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.9;
}
#container #overlay h2 {
  text-transform: uppercase;
  font-size: 2.2em;
  position: absolute;
  top: 0;
  right: 50px;
}
#container #overlay #overlay-content {
  position: absolute;
  top: 0;
  width: calc(100% - 100px);
  height: calc(100% - 130px);
  margin-left: 50px;
  margin-top: 50px;
  padding-top: 100px;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
#container #overlay #overlay-content.fadein {
  opacity: 1;
  pointer-events: auto;
}
#container #overlay #overlay-content h1 {
  text-align: center;
}
#container #overlay #overlay-content p {
  line-height: 1.5em;
  overflow-y: scroll;
}
#container .log-details {
  width: calc(100% - 100px);
  height: calc(100% - 130px);
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
  padding: 30px 50px 30px 90px;
}
#container .log-details.animate {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#container .log-details.launch {
  left: -200%;
}
#container .log-details .log-title {
  text-transform: uppercase;
  font-size: 1.8em;
  color: #fff;
}
#container .log-details .log-author {
  padding: 10px 0px;
  color: #ed4d4a;
  font-size: 1.5em;
  text-transform: uppercase;
}
#container .log-details .log-content {
  color: #fff;
  line-height: 1.3em;
  font-size: 1em;
  height: calc(100% - 50px);
}
#container .log-details .log-content img {
  width: 100%;
  height: auto;
}
#container .log-details #log-wrapper {
  height: calc(100% - 100px);
  margin-top: 100px;
  overflow-y: scroll;
  overflow-x: none;
  padding-right: 30px;
}
#container #blackshade {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.6;
}
#container #nav {
  width: calc(100% - 100px);
  padding-left: 90px;
  margin-top: 70px;
  position: absolute;
}
#container #nav img {
  height: 30px;
  margin-right: 10px;
}
#container #country {
  text-transform: uppercase;
  font-size: 2em;
  color: #999;
  position: absolute;
  width: 250px;
  right: 75px;
  margin-top: 60px;
  text-align: right;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container .sidenav {
  background: rgba(225,225,225,0.8);
  opacity: 0.8;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container .sidenav:hover {
  opacity: 1;
  cursor: pointer;
}
#container .sidenav .sidenav-top {
  width: 100%;
  height: 50px;
  top: 0;
  border-bottom: solid 1px #fff;
}
#container .sidenav .sidenav-bottom {
  width: 100%;
  height: 50px;
  bottom: 0;
  border-top: solid 1px #fff;
}
#container .sidenav .sidenav-left {
  width: 50px;
  height: 100%;
  left: 0;
  border-right: solid 1px #fff;
}
#container .sidenav .sidenav-right {
  height: 100%;
  width: 50px;
  right: 0;
  border-left: solid 1px #fff;
}
#container .arrow {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0.8;
}
#container .arrow.arrow-up-down {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  right: 50%;
  margin-right: -1px;
}
#container .arrow.arrow-left-right {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  top: 50%;
  margin-top: -10px;
}
#container .arrow.arrow-up {
  border-bottom: 20px solid #fff;
  margin-top: 15px;
}
#container .arrow.arrow-down {
  border-top: 20px solid #fff;
  bottom: 0;
  margin-bottom: 15px;
}
#container .arrow.arrow-right {
  border-left: 20px solid #fff;
  right: 0;
  margin-right: 15px;
}
#container .arrow.arrow-left {
  border-right: 20px solid #fff;
  left: 0;
  margin-left: 15px;
}
@media (min-width:320px) {
  #launch-screen p {
    font-size: 1.5em;
    width: 300px;
    margin-top: 50px;
    margin-left: -150px;
    text-align: center;
  }
  #launch-screen h3 {
    margin-top: 130px;
  }
  #container .log-details {
    padding: 30px;
  }
  #container .log-details .log-title {
    font-size: 1.7em;
  }
  #container #country {
    font-size: 1.5em;
    margin-top: 110px;
  }
  #container .sidenav-top {
    width: 100%;
    height: 30px;
    top: 0;
    border-bottom: solid 1px #fff;
  }
  #container .sidenav-bottom {
    width: 100%;
    height: 30px;
    bottom: 0;
    border-top: solid 1px #fff;
  }
  #container .sidenav-left {
    width: 30px;
    height: 100%;
    left: 0;
    border-right: solid 1px #fff;
  }
  #container .sidenav-right {
    height: 100%;
    width: 30px;
    right: 0;
    border-left: solid 1px #fff;
  }
  #container .arrow.arrow-up {
    border-bottom: 20px solid #fff;
    margin-top: 0px;
  }
  #container .arrow.arrow-down {
    border-top: 20px solid #fff;
    bottom: 0;
    margin-bottom: 0px;
  }
  #container .arrow.arrow-right {
    border-left: 20px solid #fff;
    right: 0;
    margin-right: 0px;
  }
  #container .arrow.arrow-left {
    border-right: 20px solid #fff;
    left: 0;
    margin-left: 0px;
  }
}
@media (min-height:480px) {
  #container .log-details {
    padding: 30px 50px 30px 90px;
  }
  #container .log-details .log-content {
    margin-top: 20px;
    height: calc(100% - 140px);
  }
}
@media (min-width:760px) {
  #container .log-details .log-content img {
    padding: 0px 100px;
  }
  #container #overlay-content p {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
