[ngcloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
*,
*:after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  height: 15px;
  background-color: #999;
  border-radius: 15px;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}
#loading {
  position: absolute;
  z-index: 20;
  height: 100px;
  bottom: 10%;
  left: 50%;
  margin-left: -30px;
  pointer-events: none;
}
#loading span {
  font-size: 0.5em;
  font-family: "Roboto", sans-serif;
  color: #555;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -40px;
}
#loading.large {
  font-size: 100px;
  height: 200px;
}
#loading.hide-all {
  opacity: 0;
}
#loading.hide-1 li:nth-child(1),
#loading.hide-2 li:nth-child(2),
#loading.hide-3 li:nth-child(3),
#loading.hide-4 li:nth-child(4) {
  visibility: hidden;
}
#loading.center {
  bottom: 20%;
}
#loading.corner {
  bottom: 50px;
  left: 100px;
}
#loading.small {
  font-size: 30px;
  height: 15px;
}
#loading.top {
  top: 14%;
  left: auto;
  right: 90px;
}
#minimap {
  width: calc(100% - 100px);
  width: -webkit-calc(100% - 100px);
  top: 50px;
  left: 50px;
  height: 25%;
  position: absolute;
  z-index: 1;
}
#minimap #map-canvas {
  height: 100%;
}
#add-map-canvas {
  height: 40%;
  width: 100%;
  bottom: -50px;
  position: absolute;
  display: none;
}
#add-map-canvas.show {
  display: block;
}
.move-up {
  top: 100px;
}
.fade {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
.slow-fade {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  -webkit-transition: opacity 1.5s ease-in-out;
}
.fadeout {
  opacity: 0;
}
.fadein {
  opacity: 1;
}
.background {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background.background-0 {
  background-image: url("/static/img/2000calmlake.jpg");
}
.background.background-1 {
  background-image: url("/static/img/2000eveningsky.jpg");
}
.background.background-2 {
  background-image: url("/static/img/2000roughwaves.jpg");
}
.background.background-3 {
  background-image: url("/static/img/2000moonmountain.jpg");
  background-repeat: no-repeat;
}
.background.passive {
  opacity: 0;
}
#launch-screen {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  font-family: "Roboto", sans-serif;
  background: rgba(255,255,255,0.3);
}
#launch-screen #tooOld {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
#launch-screen #tooOld a {
  color: #000;
}
#launch-screen #logo {
  width: 400px;
  height: 120px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -60px;
}
#launch-screen hr {
  height: 15px;
  width: 170px;
  background: #292929;
  border: transparent;
  top: 45%;
  left: 50%;
  position: absolute;
  margin-left: -85px;
}
#launch-screen hr.top-bar {
  margin-top: -120px;
}
#launch-screen h1 {
  font-size: 4em;
  position: absolute;
  margin-top: -100px;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  font-weight: 300;
  width: 300px;
  text-transform: uppercase;
}
#launch-screen p {
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-top: 50px;
  margin-left: -200px;
  text-align: center;
  color: #666;
  font-weight: 300;
}
#launch-screen h3 {
  position: absolute;
  font-size: 2em;
  top: 50%;
  margin-top: 150px;
  left: 50%;
  margin-left: -200px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0;
  text-align: center;
  width: 400px;
  height: 80px;
}
#launch-screen h1:hover,
#launch-screen h3:hover {
  cursor: pointer;
}
#launch-screen h3.fadein {
  opacity: 0.6;
}
#launch-screen h3.fadein:hover {
  opacity: 1;
}
#container {
  font-family: "Roboto", sans-serif;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
#container.hide {
  opacity: 0;
  pointer-events: none;
}
#container #loading {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 50px;
  left: 0;
  visibility: hidden;
}
#container #loading span {
  position: absolute;
  color: #fff;
  font-size: 2em;
  top: 50%;
  margin-top: 57px;
  left: 50%;
  margin-left: -57px;
}
#container #loading img {
  top: 50%;
  position: absolute;
  margin-left: -16px;
  left: 50%;
}
#container #overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 11;
  pointer-events: none;
  color: #fff;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
#container #overlay.fadein {
  opacity: 1;
  pointer-events: auto;
}
#container #overlay #escape {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  opacity: 0.8;
  z-index: 30;
  right: 30px;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
}
#container #overlay #escape:hover {
  opacity: 1;
}
#container #overlay #blackblur {
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.9;
}
#container #overlay h2 {
  font-size: 1em;
}
#container #overlay #overlay-content {
  position: absolute;
  top: 0;
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  height: calc(100% - 100px);
  margin-left: 50px;
  margin-top: 30px;
}
#container #overlay #overlay-content.fadein {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}
#container #overlay #overlay-content.fadein .white {
  color: #fff;
}
#container #overlay #overlay-content.fadein .small {
  font-size: 0.9em;
}
#container #overlay #overlay-content.fadein .link {
  font-size: 0.4em;
  color: #aaa;
  word-wrap: break-word;
}
#container #overlay #overlay-content #loading-message {
  font-size: 1.8em;
  width: 250px;
  text-align: center;
  margin-left: -125px;
  position: absolute;
  top: 40%;
  left: 50%;
}
#container #overlay #overlay-content .push-down {
  width: 480px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -240px;
}
#container #overlay #overlay-content .push-down h4 {
  font-size: 1.8em;
  margin-bottom: 20px;
}
#container #overlay #overlay-content .push-down #authorize-button {
  top: 50%;
  margin-top: 180px;
}
#container #overlay #overlay-content #complete {
  font-size: 1.5em;
  width: 300px;
  position: absolute;
  margin-left: -150px;
  left: 50%;
  top: 25%;
}
#container #overlay #overlay-content #complete button {
  top: 140%;
}
#container #overlay #overlay-content button {
  background: transparent;
  border: transparent;
  outline: transparent;
  color: #fff;
  font-size: 1.5em;
  padding: 0px;
  position: absolute;
  top: 60%;
  right: 10px;
  opacity: 0.7;
}
#container #overlay #overlay-content button:hover {
  cursor: pointer;
  opacity: 1;
}
#container #overlay #overlay-content span {
  font-size: 1.3em;
}
#container #overlay #overlay-content p {
  font-size: 1em;
  color: #aaa;
  position: absolute;
  top: -30px;
}
#container #overlay #overlay-content #search {
  margin-top: 45px;
  color: #aaa;
  width: 100%;
  margin-left: 0;
  text-align: left;
  left: 0;
}
#container #overlay #overlay-content #search span {
  font-size: 1em;
  line-height: 2.2em;
}
#container #overlay #overlay-content #search #file-loading-message {
  font-size: 1em;
  position: absolute;
  right: 0;
  margin-top: 55px;
}
#container #overlay #overlay-content #search button {
  top: 60%;
}
#container #overlay #overlay-content #search .active {
  color: #ed4d4a;
  cursor: pointer;
}
#container #overlay #overlay-content #search input {
  border: none;
  background: transparent;
  font-size: 1.2em;
  border-bottom: 1px solid #aaa;
  outline: none;
  margin-top: 50px;
  padding-left: 10px;
  color: #aaa;
  position: absolute;
  left: 0;
  width: 250px;
}
#container #overlay #overlay-content #search button {
  font-size: 2em;
}
#container #overlay #overlay-content #search ul {
  padding-left: 0px;
  overflow: scroll;
  height: 140px;
  margin-top: 55px;
}
#container #overlay #overlay-content #search ul li {
  list-style: none;
  line-height: 2em;
  opacity: 0.8;
  cursor: pointer;
}
#container #overlay #overlay-content #search ul li:hover {
  opacity: 1;
}
#container #overlay #overlay-content #search ul li.active {
  opacity: 1;
}
#container .log-details {
  width: calc(100% - 100px);
  width: -webkit-calc(100% - 100px);
  height: calc(80% - 180px);
  height: -webkit-calc(80% - 180px);
  padding-bottom: 0px;
  top: calc(25% + 50px);
  top: -webkit-calc(25% + 50px);
  z-index: 10;
  position: absolute;
  margin-left: 50px;
  padding: 30px 30px 30px 50px;
}
#container .log-details.launch {
  left: -200%;
}
#container .log-details .log-title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  font-size: 2.2em;
}
#container .log-details .log-author {
  opacity: 0;
  padding-top: 10px;
  margin-left: 20px;
  color: #ed4d4a;
  font-size: 1.5em;
  text-transform: uppercase;
  float: right;
  height: 133px;
  width: 273px;
}
#container .log-details .log-content {
  color: #fff;
  line-height: 1.3em;
  font-size: 1em;
  font-family: 'Alegreya', serif;
  height: calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  margin-top: 20px;
}
#container .log-details .log-content img {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
  max-height: 150%;
  max-width: 100%;
}
#container .log-details .log-wrapper {
  height: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 30px;
}
#container #blackshade {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.6;
}
#container #nav {
  text-align: right;
  padding-right: 70px;
  padding-bottom: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#container #nav img {
  height: 30px;
  margin-right: 10px;
  opacity: 0.5;
}
#container #nav img:hover {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  cursor: pointer;
}
#container #country {
  font-size: 2em;
  margin-top: 60px;
  text-transform: uppercase;
  color: #999;
  position: absolute;
  width: 250px;
  right: 75px;
  text-align: right;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container .sidenav {
  background: rgba(255,255,255,0.4);
  z-index: 2;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container .sidenav:hover {
  background: rgba(255,255,255,0.9);
  cursor: pointer;
}
#container .sidenav-top {
  width: 100%;
  height: 50px;
  top: 0;
  border-bottom: solid 1px #fff;
}
#container .sidenav-bottom {
  width: 100%;
  height: 50px;
  bottom: 0;
  border-top: solid 1px #fff;
}
#container .sidenav-left {
  width: 50px;
  height: 100%;
  left: 0;
  border-right: solid 1px #fff;
}
#container .sidenav-right {
  height: 100%;
  width: 50px;
  right: 0;
  border-left: solid 1px #fff;
}
#container .arrow {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0.8;
}
#container .arrow.arrow-up-down {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  right: 50%;
  margin-right: -10px;
}
#container .arrow.arrow-left-right {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  top: 50%;
  margin-top: -10px;
}
#container .arrow.arrow-up {
  border-bottom: 20px solid #fff;
  margin-top: 15px;
}
#container .arrow.arrow-down {
  border-top: 20px solid #fff;
  bottom: 0;
  margin-bottom: 15px;
}
#container .arrow.arrow-right {
  border-left: 20px solid #fff;
  right: 0;
  margin-right: 15px;
}
#container .arrow.arrow-left {
  border-right: 20px solid #fff;
  left: 0;
  margin-left: 15px;
}
@media (max-width:480px) {
  .background.background-0 {
    background-image: url("/static/img/720calmlake.jpg");
  }
  .background.background-1 {
    background-image: url("/static/img/720eveningsky.jpg");
  }
  .background.background-2 {
    background-image: url("/static/img/720roughwaves.jpg");
  }
  .background.background-3 {
    background-image: url("/static/img/720moonmountain.jpg");
  }
  #loading {
    bottom: 30px;
  }
  #loading.top {
    top: 39%;
    right: 50px;
  }
  #launch-screen h1 {
    font-size: 3em;
    margin-top: -85px;
    margin-left: -135px;
  }
  #launch-screen p {
    font-size: 1.1em;
  }
  #container #overlay #overlay-content #search {
    color: #fff;
    margin-top: 20px;
  }
  #container #overlay #overlay-content #search span {
    line-height: 1em;
  }
  #container #overlay #overlay-content #search ul {
    height: 80px;
    overflow-y: auto;
    width: 250px;
  }
  #container #overlay #overlay-content #search button {
    font-size: 1.5em;
  }
  #container #overlay #overlay-content #search #file-loading-message {
    margin-top: 180px;
    left: 0;
  }
  #container #overlay #overlay-content #search input {
    width: 200px;
    margin-top: 35px;
  }
  #container #overlay #overlay-content .push-down {
    width: 300px;
    margin-left: -150px;
  }
  #container #minimap {
    width: calc(100% - 60px);
    width: -webkit-calc(100% - 60px);
    top: 30px;
    left: 30px;
  }
  #container .log-details {
    padding: 0px;
  }
  #container .log-details .log-content {
    margin-top: -5px;
  }
  #container .sidenav-top {
    height: 30px;
  }
  #container .sidenav-bottom {
    height: 30px;
  }
  #container .sidenav-left {
    width: 30px;
  }
  #container .sidenav-right {
    width: 30px;
  }
  #container .arrow.arrow-up-down {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin-right: -5px;
  }
  #container .arrow.arrow-left-right {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    margin-top: -5px;
  }
  #container .arrow.arrow-up {
    border-bottom: 15px solid #fff;
    margin-top: 5px;
  }
  #container .arrow.arrow-down {
    border-top: 15px solid #fff;
    margin-bottom: 5px;
  }
  #container .arrow.arrow-right {
    border-left: 15px solid #fff;
    margin-right: 5px;
  }
  #container .arrow.arrow-left {
    border-right: 15px solid #fff;
    margin-left: 5px;
  }
}
@media (max-width:320px) {
  .background.background-0 {
    background-image: url("/static/img/480calmlake.jpg");
  }
  .background.background-1 {
    background-image: url("/static/img/480eveningsky.jpg");
  }
  .background.background-2 {
    background-image: url("/static/img/480roughwaves.jpg");
  }
  .background.background-3 {
    background-image: url("/static/img/480moonmountain.jpg");
  }
  #container .log-details {
    padding: 0px;
  }
  #container .log-details .log-title {
    font-size: 1.7em;
  }
}
#loading-text {
  color: #fff;
  position: absolute;
  z-index: 1000;
  width: 100%;
  text-align: center;
  top: 40%;
  font-size: 2em;
  display: none;
}
