[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
*
	box-sizing:border-box
#container
	position:absolute
	overflow-x:hidden
	overflow-y:hidden
	height:100%
	width:100%
	top:0
	left:0
	background: url('http://data1.whicdn.com/images/29440241/1277651095-OD4KRDG_original.jpg')
	background-position:center
	background-repeat:no-repeat
	background-size:cover
	.log-details
		width: calc(100% - 100px)
		height: calc(100% - 130px)
		position: absolute
		margin-left: 50px
		margin-top: 50px
		padding: 150px 50px
		&.log-left
			right: calc(100% - 50px)
		&.log-right
			left: calc(100% - 50px)
		&.log-top
			bottom: unquote(calc(100% - 50px))
		&.log-bottom
			top: unquote(calc(100% - 80px))
		.log-title
			font-family: 'Roboto', sans-serif
			text-transform: uppercase
			font-size: 2em
			color: white
		.log-author
			font-family: 'Roboto', sans-serif
			text-transform:uppercase
			font-size:1.2em
			color:#FF0066
			font-weight:100
		.log-content
			font-family: 'Fenix', serif
			color: white
			height: 200px
			overflow: scroll
			line-height: 1.3em;

	#blackshade
		height:100%
		width:100%
		position:absolute
		background-color:black
		opacity: 0.6
	.sidenav
		background:rgba(225,225,225,0.3)
		position:absolute

	.sidenav-top
		width:100%
		height:50px
		top:0
		border-bottom:solid 1px white
	.sidenav-bottom
		width:100%
		height:80px
		bottom:0
		border-top:solid 1px white
	.sidenav-left
		width:50px
		height:100%
		left:0
		border-right:solid 1px white
	.sidenav-right
		height:100%
		width:50px
		right:0
		border-left:solid 1px white

