[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
*, 
*:after,
*::before
	box-sizing:border-box
*::-webkit-scrollbar 
	width: 3px
*::-webkit-scrollbar-track
 	background-color: transparent
*::-webkit-scrollbar-track-piece 
	background-color: transparent
*::-webkit-scrollbar-thumb 
	height: 15px 
	background-color: #999
	border-radius: 15px
*::-webkit-scrollbar-corner
	background-color: transparent

// for google maps
#minimap
  height: 25%
  width: calc(100% - 100px)
  position: absolute
  z-index: 1
  top: 50px
  left: 50px
  #map-canvas
    height: 100%
#add-map-canvas
  height: 40%
  width: 100%
  bottom: -10%
  position: absolute

.active
  background: red

.move-up
	top: 100px
.fade
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
.fadeout
	opacity:0
.fadein
	opacity:1
#launch-screen
	height:100%
	width:100%
	top:0
	left:0
	position:absolute	
	background: url('http://data1.whicdn.com/images/29440241/1277651095-OD4KRDG_original.jpg')
	background-size:cover
	background-position:center
	font-family: "Roboto", sans-serif
	#whiteshade
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		background: white
		opacity: 0.4
	hr
		height: 15px
		width: 170px
		background: black
		border: transparent
		top: 50%
		left: 50%
		position: absolute
		margin-left: -85px
		&.top-bar
			margin-top: -150px
	h1
		font-size: 4em
		position: absolute
		top: 50%
		margin-top: -108px
		left: 50%
		margin-left: -134px
		font-weight: 500;
	p
		font-size: 2em
		position: absolute
		top: 50%
		left: 50%
		margin-left: -270px
		font-weight:300
		text-align:center
	h3
		position: absolute
		font-size: 2em
		top: 50%
		margin-top: 120px
		left: 50%
		margin-left: -90px
		font-weight: 500
		text-transform: uppercase
#container
	font-family: "Roboto", sans-serif
	position:absolute
	overflow-x:hidden
	overflow-y:hidden
	height:100%
	width:100%
	top:0
	left:0
	background: url('http://data1.whicdn.com/images/29440241/1277651095-OD4KRDG_original.jpg')
	background-position:center
	background-repeat:no-repeat
	background-size:cover
	transition: opacity .25s ease-in-out
	-moz-transition: opacity .25s ease-in-out
	-webkit-transition: opacity .25s ease-in-out
	&.hide
		opacity:0
		pointer-events:none
	#loading
		position:absolute
		height:100%
		width:100%
		top:0
		left:0
		visibility:hidden
		span
			position: absolute
			color: white
			font-size: 2em
			top: 50%
			margin-top: 57px
			left: 50%
			margin-left: -57px
		img
			top:50%
			position:absolute
			margin-left:-16px
			left:50%
	#overlay
		position:absolute
		height:100%
		width:100%
		opacity:0
		z-index : 11
		&.fadein
			opacity: 1
			pointer-events:auto
		pointer-events:none
		color: white
		transition:.5s ease-in-out
		-moz-transition: .5s ease-in-out
		-webkit-transition: .5s ease-in-out
		#blackblur
			height:100%
			width:100%
			background:black
			z-index: 1
			opacity:0.9
		h2
			text-transform: uppercase
			font-size: 2.2em
			position: absolute
			top: 0
			right: 50px
		#overlay-content
			position: absolute
			top: 0
			width: calc(100% - 100px)
			height: calc(100% - 130px)
			margin-left: 50px
			margin-top: 50px
			padding-top: 100px
			opacity:0
			&.fadein
				opacity: 1
				pointer-events:auto
			pointer-events:none
			z-index:1	
			h1
				text-align:center
			p
				line-height:1.5em
				overflow-y:scroll
	.log-details
		width: calc(100% - 100px)
		height: calc(80% - 180px)
		padding-bottom: 0px
		top: calc(25% + 50px)
		z-index: 10
		position: absolute
		margin-left: 50px
		padding: 30px 50px 30px 90px
		&.animate
			-webkit-transition: all 0.5s ease
			-moz-transition: all 0.5s ease
			-o-transition: all 0.5s ease
			transition: all 0.5s ease
		&.launch
			left:-200%	
		.log-title
			text-transform: uppercase
			font-size: 1.8em
			color: white
		.log-author
			padding: 10px 0px
		.log-content
			color: white
			line-height: 1.3em
			font-size:1.1em
			height: calc(100% - 50px)
			img
				width: 100%
				height: auto
		#log-wrapper
			height: 80%
			overflow-y: scroll
			overflow-x: none
			padding-right: 30px
	#blackshade
		height:100%
		width:100%
		position:absolute
		background-color:black
		opacity:0.6
	#nav
		padding-right: 70px
		padding-bottom: 60px
		position:absolute
		bottom: 0
		right: 0
		img
			height:30px
			margin-right:10px
	#country
		text-transform: uppercase
		font-size: 2em
		color: #999
		position: absolute
		width: 250px
		right: 75px
		margin-top: 60px
		text-align: right
		-webkit-transition:all 0.2s ease-in-out;
		-moz-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	.sidenav
		background:rgba(225,225,225,0.8)
		z-index: 2
		opacity: 0.8
		position:absolute
		-webkit-transition:all 0.2s ease-in-out
		-moz-transition:all 0.2s ease-in-out
		-o-transition:all 0.2s ease-in-out
		transition:all 0.2s ease-in-out
		&:hover
			opacity: 1
			cursor:pointer
	.sidenav-top
		width:100%
		height:50px
		top:0
		border-bottom:solid 1px white
	.sidenav-bottom
		width:100%
		height:50px
		bottom:0
		border-top:solid 1px white
	.sidenav-left
		width:50px
		height:100%
		left:0
		border-right:solid 1px white
	.sidenav-right
		height:100%
		width:50px
		right:0
		border-left:solid 1px white
	.arrow
		width: 0
		height: 0
		position: absolute
		opacity: 0.8
		&.arrow-up-down
			border-left: 20px solid transparent
			border-right: 20px solid transparent
			right:50%
			margin-right:-10px
		&.arrow-left-right
			border-top: 20px solid transparent
			border-bottom: 20px solid transparent
			top:50%
			margin-top:-10px
		&.arrow-up		
			border-bottom: 20px solid #fff
			margin-top: 15px
		&.arrow-down
			border-top: 20px solid #fff
			bottom:0
			margin-bottom: 15px
		&.arrow-right
			border-left: 20px solid #fff
			right:0
			margin-right: 15px
		&.arrow-left 
			border-right:20px solid #fff
			left:0
			margin-left: 15px

@media (min-width:320px)
	#launch-screen
		p
			font-size: 1.5em
			width: 300px
			margin-top: 50px
			margin-left: -150px
			text-align:center
		h3
			margin-top: 130px
	#container
		.log-details
			padding: 30px
			.log-title
				font-size: 1.7em
		#country
			font-size: 1.5em
			margin-top: 110px
@media (min-height:480px)
	#container 
		.log-details
			.log-content
				margin-top: 20px
				height: calc(100% - 140px)
	#country
			font-size: 2em
			margin-top: 60px
@media (min-width:760px)
	#container
		.log-details
			.log-content
				img
					padding: 0px 100px


