[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
*, 
*:after,
*::before
	box-sizing:border-box
.move-up
	top: 100px
.fade
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
#container
	position:absolute
	overflow-x:hidden
	overflow-y:hidden
	height:100%
	width:100%
	top:0
	left:0
	background: url('http://data1.whicdn.com/images/29440241/1277651095-OD4KRDG_original.jpg')
	background-position:center
	background-repeat:no-repeat
	background-size:cover
	.log-details
		width: calc(100% - 100px)
		height: calc(100% - 130px)
		position: absolute
		margin-left: 50px
		margin-top: 50px
		padding: 40px 50px

		&.animate
			-webkit-transition: all 0.5s ease
			-moz-transition: all 0.5s ease
			-o-transition: all 0.5s ease
			transition: all 0.5s ease
		&.launch
			left:-200%	
		.log-title
			font-family: 'Roboto', sans-serif
			text-transform: uppercase
			font-size: 2em
			color: white
		.log-author
			font-family: 'Roboto', sans-serif
			text-transform:uppercase
			font-size:1.2em
			color:#FF0066
			font-weight:100
		.log-content
			font-family: 'Fenix', serif
			color: white
			overflow: scroll
			line-height: 1.3em
			height: calc(100% - 100px)
			.photo
				height: 100%
				width: 50%
				float: left
			.photo-position
				background-repeat:no-repeat
				background-position:center
				background-size:cover
				&.photo-1
					background: url('http://data1.whicdn.com/images/29440241/1277651095-OD4KRDG_original.jpg')
				&.photo-2
					background: url('http://data1.whicdn.com/images/29440241/1277651095-OD4KRDG_original.jpg')
				&.photo-3
					background: url('http://data1.whicdn.com/images/29440241/1277651095-OD4KRDG_original.jpg')
				&.photo-4
					background: url('http://data1.whicdn.com/images/29440241/1277651095-OD4KRDG_original.jpg')
				&.photo-5
					background: url('http://data1.whicdn.com/images/29440241/1277651095-OD4KRDG_original.jpg')
				&.photo-6
					background: url('http://data1.whicdn.com/images/29440241/1277651095-OD4KRDG_original.jpg')
	#blackshade
		height:100%
		width:100%
		position:absolute
		background-color:black
		opacity: 0.6
	.sidenav
		background:rgba(225,225,225,0.6)
		position:absolute

	.sidenav-top
		width:100%
		height:50px
		top:0
		border-bottom:solid 1px white
	.sidenav-bottom
		width:100%
		height:80px
		bottom:0
		border-top:solid 1px white
	.sidenav-left
		width:50px
		height:100%
		left:0
		border-right:solid 1px white
	.sidenav-right
		height:100%
		width:50px
		right:0
		border-left:solid 1px white
	
#footer
	position: absolute
	bottom: 0px
	left: 50%
	width: 400px
	margin-left: -200px
	height: 80px
	padding: 30px 55px
	img
		height:30px
		float:left
		margin-right:10px
	form
		float:right
		margin-top: -15px;
		input
			outline:none
			border:none
			background:transparent
			border-bottom: solid 1px white
			color:white
			font-family: 'Fenix', serif
			font-size:1.5em
			width:120px
		img
			float:none
			height:40px
			position:relative
			top:10px
			transform:rotate(-45deg);
			-ms-transform:rotate(-45deg); 
			-webkit-transform:rotate(-45deg); 
@media (min-height:480px){
	.log-details{
		padding: 80px 50px;
	}
	.log-content{
		margin-top: 60px;
		height: calc(100% - 140px);
	}
}
