<div>
	<form name="signUpForm" ng-controller="SignUpController" method="POST" novalidate ng-submit="signUp(user)">
		<h2>first name*</h2>
		<input type="text" ng-model="user.firstName" required>
		<h2>last name*</h2>
		<input type="text" ng-model="user.lastName" required>
		<h2>id*</h2>
		<input type="text" ng-model="user.internalId" required>
		<h2>e-mail*</h2>
		<input type="text" ng-model="user.email" required>
		<h2>phone number</h2>
		<input type="text" ng-model="user.phoneNumber" required>
		<h2>password*</h2>
		<input ng-model="user.password" type="password" required>
		<button type="submit">Sign Up</button>
	</form>
</div>
